<div class="app-container">
  <header>
    <div class="logo-title">
      <img src="https://cdn-icons-png.flaticon.com/512/7656/7656411.png" alt="Inventory Tool" class="logo">
    </div>

    <!-- Dacă este logat -->
    <div *ngIf="auth.isLoggedIn(); else notLogged">
      <p>Admin: {{ username }}</p>
      <button (click)="openAudit()" style="margin-top: -1px;">Istoric</button>
      <button (click)="logout()" style="margin-top: -1px;">Logout</button>
    </div>

    <!-- Dacă NU este logat -->
    <ng-template #notLogged>
      <button (click)="goToLogin()" style="margin-top: -1px;">Login</button>
    </ng-template>
  </header>

  <br><br><br><br>

  <router-outlet style="background-color: transparent; border-radius: 0px; box-shadow:none;"></router-outlet>
</div>
